<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Billy boekenkast">
    <title>Billy</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<script src="script/namecheck.js"></script>
<script src="script/CustomElements.js"></script>
<div class="header-container">
    <div class="top-container">
        <button id="loginBtn" class="login-button" type="button" onclick="window.location='/test.html'">Aanmelden</button>
    </div>
    <billy-topnav></billy-topnav>
</div>
<billy-main></billy-main>
<billy-sidebar></billy-sidebar>
</body>
</html>