* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-area: auto;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    --main-color: white;
    --main-text-color: black;
    background: var(--main-color);
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.header-container {
    margin-left: 25%;
}

.top-container {
    margin-right: 2.5%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1040px) {
    body {
        display: inline;
    }
}
@media (max-width: 850px) {
    .header-container {
        margin-left: 0;
    }
}
